In [ ]:
name= input()

In [13]:
input()

'ji'

In [18]:
name=input("enter name=>")
city=input("enter ur roll number=>")
addr=input("enter ur course=>")
print(name,city,addr)

moni 15 MCA

In [23]:
a=10
b=20
c=a+b
print(a,b,c)

10 20 30

In [26]:
a=int(input("enter A:"))
b=int(input("enter B:"))
c=a+b
print(a,b,c)

44 22 66

In [25]:
10+10

20

In [32]:
radius=float(input("enter radius of circle "))
diameter =radius*2
circumference=2*3.14*radius
area=3.14*radius**2

print(radius)
print(diameter)
print(circumference)
print(area)

11.2
22.4
70.336
393.8816

In [36]:
#simple interest
p=int(input("enter the principle amount"))
r=float(input("enter the rate of interest"))
t=int(input("enter the time period in year"))
si=p*r*t/100
print(p)
print(r)
print(t)
print(si)

12
13.0
14
21.84

In [37]:
a=int(input("convert the msg"))
b=int(input("enter the name"))
a+b

33

In [39]:
pi=3.14
r=int(input("enter the radius of cylinder:"))
h=int(input("enter the value of height"))
v=pi*r**2*h
print(v)

74813.64

In [42]:
print("this is an exmple")
print("one","two","three")
print(100+55-11)
print("moni","moki","chochi",sep="|ðŸ˜ðŸ˜ðŸ˜ðŸ˜|")

this is an exmple
one two three
144
moni|ðŸ˜ðŸ˜ðŸ˜ðŸ˜|moki|ðŸ˜ðŸ˜ðŸ˜ðŸ˜|chochi

In [1]:
print(1,2,3,4,5)
print(1,2,3,4,sep=" ")
print(1,2,3,4,5,6,sep=',')
print(1,2,3,4,5,sep ="âž¡ï¸")
print(1,2,3,4,5,sep="hello world")

1 2 3 4 5
1 2 3 4
1,2,3,4,5,6
1âž¡ï¸2âž¡ï¸3âž¡ï¸4âž¡ï¸5
1hello world2hello world3hello world4hello world5

In [7]:
a=100
b=30
c=a+b
print(c)
print("answer "+str(c))
print("Answer",c)
print("Answer % d"%c)
print("%d + %d =>%d "%(a,b,c))
print("Answer{}".format(c))
print("{}+{}={}".format(a,b,c))

130
answer 130
Answer 130
Answer  130
100 + 30 =>130
Answer130
100+30=130

In [1]:
#final actual way to format output using f-strings
a=100
b=30
c=a+b
print(f"answer{c}")
print(f"{a} + {b}= {c}")

answer130
100 + 30= 130

In [6]:
print (f' we get {c},when we add {a} and {b}')

 we get 130,when we add 100 and 30

In [5]:
name="monisha"
job="spy"
company="echeleon"
print(f" my name is {name},i work as a {job} in company")

 my name is monisha,i work as a spy in company

In [3]:
data=int(input("enter data value"))
print(f"value=> {data}")

value=> 200

In [5]:
print('you see a apple seller')
a = input ('do you like applesâ”')

if a=='yes':
       print('purchase 2kg of apples')
if a=='no':
    print('you dont purchase apples')

you see a apple seller
you dont purchase apples

In [10]:
del da

In [9]:
p=20
b=10
h=(p**2+b**2)**.5
print("calculation of hypotenuse")
print(f"perpendicular => {p}")
print( f'base =>{b}')
print("based on pythagoras theorem:")
print(f"hypotenuse =>{h}")

calculation of hypotenuse
perpendicular => 20
base =>10
based on pythagoras theorem:
hypotenuse =>22.360679774997898

In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, Monisha
You are from chittoor
You are 20 years old.
Your rate is 10.0

In [2]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [3]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [4]:
print("{} scored {} marks.".format("Bob", 95))
print("{1} is {0} years old.".format(30, "Charlie"))

Bob scored 95 marks.
Charlie is 30 years old.

In [5]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

In [ ]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [6]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [7]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [8]:
n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [9]:
s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [10]:
flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [11]:
flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [12]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [ ]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [13]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

<class 'set'>

In [14]:
student = {"name": "Alice", "age": 22}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [15]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>

In [16]:
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

In [17]:
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

In [18]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

In [19]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

defaultdict(<class 'int'>, {'apple': 1})

In [20]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

defaultdict(<class 'int'>, {'apple': 1})

In [21]:
from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)  # deque([2, 1])

deque([2, 1])

In [22]:
from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)  # MyDict({'apple': 1})

{'apple': 1}

In [23]:
from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)  # MyList([1])

[1]

In [24]:
x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

<class 'str'>

In [25]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [26]:
a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

7

In [ ]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [29]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [30]:
print(5 > 2)   # True
print(5 == 2)  # False

True
False

In [31]:
x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

True
False

In [32]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2

In [33]:
x = 10
x += 5  # x = x + 5
print(x)  # 15

15

In [34]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [35]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True

In [36]:
result = 2 + 3 * 4      # Multiplication has higher precedence: 2 + (3 * 4) = 14
result = (2 + 3) * 4    # Parentheses change the order: (2 + 3) * 4 = 20
result = 2 ** 3 ** 2    # Exponentiation is right-to-left: 2 ** (3 ** 2) = 512
result = 10 - 4 + 2     # Addition and subtraction are left-to-right: (10 - 4) + 2 = 8

In [37]:
# This is a single-line comment
print("Hello")  # This is an inline comment

Hello

In [38]:
# This is a
# multi-line comment

'''
This is also a
multi-line comment
'''

'\nThis is also a\nmulti-line comment\n'

In [8]:
def add(a, b):
    """
    Adds two numbers.
    """
    return a + b

In [11]:
salary = 42000
if salary > 50000:
    da = .15
total = salary +salary * da
print (f"total salary is {total}")

total salary is 42000

In [ ]:
salary = 42000
if salary > 50000:
    da = .15
    total = salary + salary * da
else:
    total = salary
print(f"total salary is {total}")

total salary is 42000

In [13]:
salary = 42000
if salary < 50000:
    da = .15
    total = salary + salary * da
else:
    total = salary
print(f"total salary is {total}")

total salary is 48300.0

In [17]:
x = int(input( "enter a number:"))
y = int(input("enter second number :"))
if x > y:
    a = x - y
else:
    a = y - x
print(a)

222

In [21]:
name = input("enter your fav movie")
if len (name)>10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

short movie name:arya
the end

In [2]:
a,b,c,=2,5,6
print(a,b,c)
if a > b:
    print("a is greater ")
else :
    print("b is greater ")

2 5 6
b is greater

In [10]:
question = input ("what is the capital of india")
answer = input("answer")
if answer == "delhi":
  print("your are correct")
if answer == " new delhi":
  print("your are very correct")
if answer == "i dont know ":
  print(" u must be sleeping under a rock")
if answer == "shimla":
  print(" you must be from britain")

 you must be from britain

In [19]:
marks = int (input("entwr your total marks in 10:"))
if marks > 90:
     print("your grade:A")
if marks > 75:
     print("your grade:B")
if marks > 60:
     print("your grade:C")
if marks > 40:
     print("your grade:D")
if marks < 40:
     print("failed â˜ ï¸")

your grade:B
your grade:C
your grade:D

In [21]:
marks = int (input("entwr your total marks in 10:"))
if marks > 90 and marks <=100:
     print("your grade:A")
if marks > 75 and marks <=90:
     print("your grade:B")
if marks > 60 and marks <=74:
     print("your grade:C")
if marks > 40 and marks <=60:
     print("your grade:D")
if marks < 40:
     print("failed â˜ ï¸")

your grade:B

In [26]:
salary = int(input("Enter your frnds salary:"))
if salary > 100000:
    total = salary - salary * .2
elif salary > 80000:
    total = salary - salary * .1
elif salary > 50000:
    total = salary - salary * .05
else:
    total = salary + 10000
print(f'frds salary => {salary}')
print(f'frds total => {total}')

frds salary => 80000
frds total => 76000.0